.intro {
  font-style: italic;
}
.author {
  color: red;
}
 p.author {
   font-size:12px;
}
#line {
  color: blue;
}
body {
  font-style: albetica;
}
.important {
  color: blue;
}
.unimportant {
  color: brown;
}
.Important{
  font-style: italic;
}